# Порт dev-сервера (Next.js по умолчанию 3000)
# Для соответствия prod (nginx 8090) задай 8090
PORT=8090

# URL API
NEXT_PUBLIC_API_URL=http://localhost:5000

# Ссылки на соцсети (иконки в шапке)
NEXT_PUBLIC_TELEGRAM_URL=https://t.me/uncensored_mems
NEXT_PUBLIC_VK_URL=https://vk.com/club236352692
NEXT_PUBLIC_MAX_URL=
